<div class='container' ng-cloak ng-app="chatApp">
    <div class='chatbox' ng-controller="MessageCtrl as chatMessage">
      <div class="chatbox__messages" *ngFor="let message of messages">
        <div class="chatbox__messages__user-message">
          <div class="chatbox__messages__user-message--ind-message">
            <p class="name">{{message.Name}}</p>
            <br/>
            <p class="message">{{message.Message}}</p>
          </div>
        </div>
      </div>
      <form>
        <input type="text" placeholder="Enter your message">
      </form>
    </div>
