<div class='container' ng-cloak ng-app="chatApp">
    <div class='chatbox' ng-controller="MessageCtrl as chatMessage">
      <div class="chatbox__messages" *ngFor="let message of messages">
        <div class="chatbox__messages__user-message">
          <div class="chatbox__messages__user-message--ind-message">
            <p class="name">{{message.writer}}</p>
            <br/>
            <p class="message">{{message.message}}</p>
            <p class="message">{{message.time}}</p>
          </div>
        </div>
      </div>
      
    </div>
