<div class="centrarDiv">
    <h1>
        Estudiantes curso
    </h1>
    <p></p>
    <div *ngFor="let person of data">
        <input id="person.nombre" (change)="person.valor=!person.valor" type="checkbox" [checked]="person.valor">
        <label for="person.nombre"> {{person.nombre}}</label><br>
    </div>
    <p></p>
    <button mat-raised-button [routerLink]="['/admin/insertStudentCourse',idCourse]" class="btn-form">Agregar</button>
    <button mat-raised-button (click)="eliminarUsuarios()" class="btn-form">Eliminar</button>
</div>