<!-- 

GRADIENT BANNER DESIGN BY SIMON LURWER ON DRIBBBLE:
https://dribbble.com/shots/14101951-Banners

-->
<div class="main-container">
    <div class="heading">
      <h1 class="heading__title">Tareas del curso</h1>
    </div>
    <div>
        <form [formGroup]="form" (ngsubmit)="agregar()">
            <h3>Nueva tarea</h3>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Título</mat-label>
                <input matInput formControlName="tittle" type="text">
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Descripción</mat-label>
                <input matInput formControlName="description" type="text">
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Deadline</mat-label>
                <input matInput formControlName="deadline" type="date">
            </mat-form-field>
            <button mat-raised-button  (click)="agregar()" [disabled]="form.invalid" class="boton" >Agregar</button>
        </form>
    </div>
    <div class="cards">
        <div class="card card-4">
            <div class="card__icon"><i class="fas fa-bolt"></i></div>
                <p class="card__exit"><i class="fas fa-times"></i></p>
                <h2 class="card__title">Titulo de la Tarea</h2>
                <p class="card__apply">
                <a class="card__link">Descripcion de la Tarea <i class="fas fa-arrow-right"></i></a>
                </p>
        </div>
        <div class="card card-4" *ngFor="let item of news">
            <div class="card__icon"><i class="fas fa-bolt"></i></div>
                <p class="card__exit"><i class="fas fa-times"></i></p>
                <h2 class="card__title">{{item.title}}</h2>
                <p class="card__apply">
                <a class="card__link" >{{item.description}}<i class="fas fa-arrow-right"></i></a>
                <br>
                <a class="card__link" >Deadline:{{item.deadline}}<i class="fas fa-arrow-right"></i></a>
                </p>
        </div>
    </div>
  </div>
  <p class="heading__credits"><a class="heading__link" target="_blank" href="https://dribbble.com/sl">Design by Simon Lurwer on Dribbble</a></p>

