<div class="body">
    <div class="login">
        <form [formGroup]="form" (ngsubmit)="ingresar()">
            <img src="./assets/img/logo.jpeg" width="50%">
            <h1>Login</h1>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Correo</mat-label>
                <input matInput formControlName="email" type="text">
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input matInput formControlName="password" type="password">
            </mat-form-field>
            <button mat-raised-button  type="submit" [disabled]="form.invalid" class="ancho" color="accent">Ingresar</button>
        </form>
    </div>
</div>

